<!-- app/templates/admin/con_strengths/con_strength.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_con_strength %}
        Add Connection Strength
    {% else %}
        Edit Connection Strength
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_con_strength %}
                <h1>Add Connection Strength</h1>
            {% else %}
                <h1>Edit Connection Strength</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}