<!-- app/templates/home/testing.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block head %}

<meta charset="utf-8"/>

<!-- Load libraries -->
<script src="//d3js.org/d3.v4.min.js"></script>  
<script>var d4 = d3;</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type="{{ url_for('static', filename='js/exampleUtil.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-csv.js') }}"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
<script src="https://unpkg.com/d3-simple-slider@0.2.1/build/d3-simple-slider.js"></script>
<script src="{{ url_for('static', filename='js/lineGraph.js') }}"></script>
<script src="http://d3js.org/queue.v1.min.js" type="text/javascript"></script>
<script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{{ url_for('static', filename='js/test.js') }}"></script>
<script src="{{ url_for('static', filename='js/spatiotemptable/d3_code_toggle_yn.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fase2.css') }}">

<!-- Load python data -->
<script type="text/javascript"> 
  var data = {{ causalData|tojson }}; 

  var newData = {"nodes":[], "edges":[]}; 
  var op_dict = {{ op_dict|tojson }};
  var cl_dict = {{ cl_dict|tojson }};

  var pageTexts = {{ pageDicts|tojson }}
  var dropDowns = {{ dropDowns|tojson }}
  console.log(dropDowns);
</script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% endblock %}

<!-- Title -->
{% block title %}Testing{% endblock %}

<!-- Body -->
{% block body %}

<center><div id="firstText" class="col-md-8"></div></center>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Extra Options</h3>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
              <a href="#language" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">visualization Language</a>
                <ul class="collapse list-unstyled" id="language">
                  <center>
                  <li>
                    Select a locale:
                  </li>
                  <li>
                    <select id="locale" onchange="draw();">
                    <option value="en">en</option>
                    <option value="de">de</option>
                    <option value="es">es</option>
                    <option value="it">it</option>
                    <option value="nl">nl</option>
                    <option value="pt-br">pt</option>
                    <option value="ru">ru</option>
                  </select>
                  </li>
                  </center>
                </ul>
          </li>
          <li>
              <a href="#exportingData" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Export Data</a>
              <ul class="collapse list-unstyled" id="exportingData">
                <center>
                <li>
                  Pick format: 
                </li>
                <li>
                  <select id="export">
                  <option value="json">.json</option>
                  <option value="csv">.csv</option>
                  <option value="pkl">Adjacency Matrix</option>
                </select>
                </li>
                <li>
                  <button onclick="export_data();">Export Current Data</button>
                </li>
                </center>
              </ul>
          </li>
          <li>
            <a href="#importData" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Import Data</a>
            <ul class="collapse list-unstyled" id="importData">
              <li style="margin-bottom: 15px;">
                <center>
                <li>
                  IMPORT CSV: 
                </li>
                <li style="margin-bottom: 5px;">First nodes, then edges</li>
                <li>
                  <input type="file" class="inputfile" id="selectFiles1" value="Import nodes" accept=".csv"/>
                </li>
                <li style="margin-bottom: 5px;">
                  <input type="file" class="inputfile" id="selectFiles2" value="Import edges" accept=".csv"/>
                </li>
                <li>
                  <button id="import">Import</button>
                </li>
                </center>
              </li>
              <li>
                <center>
                <li style="margin-bottom: 5px;">
                  IMPORT JSON: 
                </li>
                <li style="margin-bottom: 5px;">
                  <input type="file" class="inputfile" id="selectFilesJSON" value="Import JSON" accept=".json"/>
                </li>
                <li>
                  <button id="importJSON">Import</button>
                </li>
                </center>
              </li>
            </ul>
          </li>
          <li>
            <a href="#networkToggle" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Network Type</a>
              <ul class="collapse list-unstyled" id="networkToggle">
                <center>
                <li>
                  <section id="netTog"></section>
                </li>
                </center>
              </ul>
          </li>
          {% if current_user.is_authenticated %}
          <li>
            <a href="#saveProgress" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Save progress</a>
            <ul class="collapse list-unstyled" id="saveProgress">
              <li>
                <button onclick="saveData()">Save Changes to Database</button> 
              </li>
            </ul>
          </li>
          {% endif %}
      </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
    <center>
      <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
    
      <p>Toggle for more options</p>
    </center>
    <center>
        <div id="node-popUp">
          <span id="node-operation">node</span> <br>
          <table style="margin:auto; width: 75%;">
            <tr>
              <td class="tableLeft">label</td><td><input class="selections tableRight" id="node-label" name="textfield" type="text" placeholder="New value" /></td>
            </tr>
            <tr>
              <td class="tableLeft">How sensitive is this node to change?</td><td><select class="selections tableRight" id="node-sensitivity_id">
              {% for sensitivity in dropDowns.sensitivity_id %}
                  <option value={{ loop.index }}>{{ sensitivity }}</option>
              {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">At what stage is this important?</td><td><select class="selections tableRight" id="node-temp_imp_id">
              {% for temp_imp in dropDowns.temp_imps %}
                  <option value={{ loop.index }}>{{ temp_imp }}</option>
              {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">How fast are changes concerning this factor?</td><td><select class="selections tableRight" id="node-temp_aspect_id">
                {% for temp_aspect in dropDowns.temp_aspects %}
                  <option value={{ loop.index }}>{{ temp_aspect }}</option>
                {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">At what spatial level can this factor be placed?</td><td><select class="selections tableRight" id="node-spat_aspect_id">
                {% for spat_aspect in dropDowns.spat_aspects %}
                  <option value={{ loop.index }}>{{ spat_aspect }}</option>
                {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">Notes on factor</td><td><input class="selections tableRight" id="node-notes_factor" name="textfield" type="text" placeholder="What kind of factor is it?"/></td>
            </tr>
            <tr>
              <td class="tableLeft">General notes</td><td><input class="selections tableRight" id="node-notes" name="textfield" type="text" placeholder="How does the factor function in general?"/></td>
            </tr>
            <tr>
              <td class="tableLeft">Supporting literature</td><td><input class="selections tableRight" id="node-sup_lit" name="textfield" type="text" placeholder="seperate by /" /></td>
            </tr>
          </table>
          <input type="button" value="save" id="node-saveButton" />
          <input type="button" value="cancel" id="node-cancelButton" />
        </div>

        <div id="edge-popUp">
          <span id="edge-operation">edge</span> <br>
          <table style="margin:auto; width:75%;">
            <tr>
              <td class="tableLeft">Type</td><td><select class="selections tableRight" id="edge-operator_id">
              {% for operator in dropDowns.operators %}
                  <option value={{ loop.index }}>{{ operator }}</option>
              {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">What is the nature of this relation with respect to your given direction?</td><td><select class="selections tableRight" id="edge-con_strength">
              {% for con_strength in dropDowns.con_strengths %}
                  <option value={{ loop.index }}>{{ con_strength }}</option>
              {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">At what stage is this important?</td><td><select class="selections tableRight" id="edge-temp_imp_id">
              {% for temp_imp in dropDowns.temp_imps %}
                  <option value={{ loop.index }}>{{ temp_imp }}</option>
              {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">How fast is this relation?</td><td><select class="selections tableRight" id="edge-temp_aspect_id">
                {% for temp_aspect in dropDowns.temp_aspects %}
                  <option value={{ loop.index }}>{{ temp_aspect }}</option>
                {% endfor %}
              </select></td>
            </tr>
            <tr>
              <td class="tableLeft">Notes on relation</td><td><input class="selections tableRight" id="edge-notes_relation" name="textfield" type="text" placeholder="E.g. how does the relationship work?" /></td>
            </tr>
            <tr>
              <td class="tableLeft">Supporting literature</td><td><input class="selections tableRight" id="edge-sup_lit" name="textfield" type="text" placeholder="Seperate by /" /></td>
            </tr>
          </table>
          <br>
          <input type="button" value="save" id="edge-saveButton" />
          <input type="button" value="cancel" id="edge-cancelButton" />
        </div>

        <div id="mynetwork"></div>
    </center>
  </div>
</div>

<center><div id="secondText" class="col-md-8"></div></center>


<div id="mynetwork2"></div>


<script src="{{ url_for('static', filename='js/testing.js') }}"></script>

<script type="text/javascript">
  pageKeys = Object.keys(pageTexts.fase2)

  console.log(pageKeys)
  for (var i = pageKeys.length - 1; i >= 0; i--) {
      d3.select("#" + pageKeys[i]).html(pageTexts.fase2[pageKeys[i]])
  }
</script>

{% endblock %}