<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MD simulation</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='website/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='website/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='website/css/clean-blog.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='website/img/icon.png') }}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- D3 library -->
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='website/js/functions.js') }}"></script>
    <script src="https://unpkg.com/d3-simple-slider@0.2.1/build/d3-simple-slider.js"></script>
    <script src="{{ url_for('static', filename='website/js/lineGraph.js') }}"></script>
    <script src="{{ url_for('static', filename='website/js/fut_exp.js') }}"></script>
    <!-- <script src="js/graph_network.js"></script> -->
    <script src="http://d3js.org/queue.v1.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <link href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" rel="stylesheet" />

  </head>

  <body>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">MD simulation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sim1">Article Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fut_exp">Above and Beyond</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='website/img/mentalhealth.jpg') }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Above and Beyond</h1>
              <h2 class="subheading">Adding our own research</h2>
              <!-- <span class="meta">But we took them on, and prevailed</span> -->
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
<p>With a heavily connected network, it is nearly impossible for someone to not get into a 'depressed' state and also virtually impossible to get out of this 'depressed' state without help.</p>

            <div class="container centerIt">
              <div class="row">
                  <div class="col-sm-6">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <div id="slider1_HN" class="svg-container"></div>
                          <p id="value1_HN" class="valueSlider"></p>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="row align-items-center">
                        <div class="col-sm">
                          <div id="slider2_HN" class="svg-container"></div>
                          <p id="value2_HN" class="valueSlider"></p>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div id="heavy_network" class="svg-container"></div>
            <button onclick='changeGraph("#heavy_networkSVG", "#heavy_network", "_HN");'>Change Graph</button>
            <span class="caption text-muted">Heavily connected network.</span>

            <p>This help can be given in different ways. A lot of treatments for MD, like Cognitive-Behavioural Therapy (CBT), focus primarily on the symptoms of depression <a href="#Baardseth">[1]</a>. For example, CBT focusses on the symptoms to relieve the patients suffering. By doing so, it enables the treatment of the underlying problem <a href="#Beck">[2]</a>. We try to find which symptoms would be most helpful to focus on during the treatment. This is a general case, but could be a helpful start.</p>

            <p>A way to test this, is to make the threshold of a symptom higher. This is possible since the thresholds used are taken absolute. Increasing the thresholds effectively diminishes the influence a symptom has on the symptoms around it, hereby decreasing the connectivity of the system. This makes it possible for the system to get out of a 'depressed' state.</p>

            <p>To see which symptom or symptoms can best be treated, we simulated what happened when 1 till 14 parameter influences were diminished at random. Symptom thresholds were randomly raised to 100. This was done 100 times for all parameters.</p>

            <div id="general" class="svg-container"></div>
            <span class="caption text-muted">General cases.</span>

            <p>The graph shows the influence of shutting down 1 till 14 random parameters on the time spend not in a MD. It shows the time not spend in a MD in the simulation, since we can not be sure that somebody is suffering from one from our simulation, but we can be sure somebody isn't. According to the DSM-V <a href="#American">[3]</a>, somebody is suffering from a MD when 5 of the 9 symptoms are manifesting itself for longer than two weeks. Since our simulation does not have a time scale, we can never fulfil this condition. This makes an actual diagnose impossible.</p>

            <p>When one symptom's threshold is raised, you already see increased time spent not in a MD. When even more thresholds are increased, this time increases even more. As more thresholds are increased the less connected the network becomes. When an average of 9 (out of 14) thresholds is increased, the network becomes so unconnected that it never gets into a MD.</p>

            <p>Chances are slim, that a treatment will be able to include 9 symptoms, so the next step is to find out which are most important.</p>

            <div class="switch-toggle switch-2 switch-candy">
              <input id="LVL-1" name="state-d" type="radio" checked="" />
              <label for="LVL-1" onclick="fut_expGraph('1', '#general_specificSVG', '#general_specific')">LVL-1</label>
              <input id="LVL-2" name="state-d" type="radio" />
              <label for="LVL-2" onclick="fut_expGraph('2', '#general_specificSVG', '#general_specific')">LVL-2</label>
              <input id="LVL-3" name="state-d" type="radio" />
              <label for="LVL-3" onclick="fut_expGraph('3', '#general_specificSVG', '#general_specific')">LVL-3</label>
              <input id="LVL-4" name="state-d" type="radio" />
              <label for="LVL-4" onclick="fut_expGraph('4', '#general_specificSVG', '#general_specific')">LVL-4</label>
              <input id="LVL-5" name="state-d" type="radio" />
              <label for="LVL-5" onclick="fut_expGraph('5', '#general_specificSVG', '#general_specific')">LVL-5</label>
              <input id="LVL-6" name="state-d" type="radio" />
              <label for="LVL-6" onclick="fut_expGraph('6', '#general_specificSVG', '#general_specific')">LVL-6</label>
              <a></a>
            </div>

            <div id="general_specific" class="svg-container"></div>
            <span class="caption text-muted">Specific cases removing symptoms by increasing thresholds to 100 in various combinations. Upon hovering over the graph, the combination of effectively removed nodes is shown by their symptom number in the table below. </span>

            <br>

            <small><table class="table table-sm">
              <tr>
                <th scope="col">Symptom number</th>
                <th scope="col">DSM</th>
                <th scope="col">Symptom</th>
                <th scope="col">Threshold</th>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>Depressed mood (dep)</td>
                <td>-2.31</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2</td>
                <td>Loss of interest (int)</td>
                <td>-3.19</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>3</td>
                <td>Weight loss (los)</td>
                <td>-4.31</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>3</td>
                <td>Weight gain (gai)</td>
                <td>-3.83</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>3</td>
                <td>Decreased appetite (dap)</td>
                <td>-3.92</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>3</td>
                <td>Increased appetite (iap)</td>
                <td>-3.90</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>4</td>
                <td>Insomnia (iso)</td>
                <td>-3.02</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>4</td>
                <td>Hyposomnia (hso)</td>
                <td>-4.45</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>5</td>
                <td>Psychomotor agitation (agi)</td>
                <td>-3.18</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>5</td>
                <td>Psychomotor retardation (ret)</td>
                <td>-4.34</td>
              </tr>
              <tr>
                <th scope="row">11</th>
                <td>6</td>
                <td>Fatigue (fat)</td>
                <td>-2.83</td>
              </tr>
              <tr>
                <th scope="row">12</th>
                <td>7</td>
                <td>Feelings of worthlessness (wor)</td>
                <td>-4.43</td>
              </tr>
              <tr>
                <th scope="row">13</th>
                <td>8</td>
                <td>Concentration problems (con)</td>
                <td>-4.04</td>
              </tr>
              <tr>
                <th scope="row">14</th>
                <td>9</td>
                <td>Thoughts of death (dea)</td>
                <td>-5.83</td>
              </tr>
            </table></small>

            <p>If you click through the different graphs, you can see the different combinations of symptoms which elevate somebody out of a 'depressed' state. On the x-axis, specific symptoms or combinations of symptoms are shown. In level 1, you see all symptom thresholds increased 1 by 1. Level 2 shows all the different combinations of two symptoms with increased thresholds and so on. If you hover over the graph you see which symptom thresholds were increased. Especially symptom 1 (depressed mood) seems to be an important symptom to target. When only that threshold is increased, a small difference can already be seen, and combined with other symptoms this difference becomes larger.</p>

            <br>
            <b>Interactive Simulation</b>
            <p>In the interactive simulation below, you can disable/enable symptoms by clicking on the corresponding nodes. Drag the slider to view the state of the system at a particular iteration of the simulation and watch how enabling/disabling symptoms changes the dynamics. The border around each symptom/node reflects it's binary state, i.e. on/off, while the fill of the node reflects the probabilty it will become active. Of course you can also still ajust the <i>c</i>-parameter and the number of iterations. Tip: try to remove highly connected nodes and nodes with a low threshold from the system, to see a significant system response!</p>

            <div class="container">
              <div class="switch-toggle switch-3 switch-candy">
                <input id="on" name="state-d" type="radio" checked="" />
                <label for="on" onclick='request(1)'>Simulation-1</label>
                <input id="off" name="state-d" type="radio" />
                <label for="off" onclick='request(2)'>Simulation-2</label>
                <a></a>
              </div>
            </div>
            <div class="container centerIt">
              <div class="row">
                <div class="col-sm-6">
                  <div class="row align-items-center">
                    <div class="col-sm">
                      <div id="slider1_sim3" class="svg-container"></div>
                      <p id="value1_sim3" class="valueSlider"></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row align-items-center">
                    <div class="col-sm">
                      <div id="slider2_sim3" class="svg-container"></div>
                      <p id="value2_sim3" class="valueSlider"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div id="graph_nw_lines" class="svg-container"></div>
                  <input type="range" min="0" max="0.999" step="0.001" value="0.999" class="slider" id="myRange">
                  <button onclick="request();">Update</button>
                </div>
                <div class="col-sm-6">
                  <div id="graph_network" class="svg-container"></div>
                </div>
              </div>
            </div>

            <p>
              <small>
                <ol>
                  <li id="Baardseth"> Baardseth, T. P., Goldberg, S. B., Pace, B. T., Wislocki, A. P., Frost, N. D., Siddiqui, J. R., ... & Minami, T. (2013). Cognitive-behavioral therapy versus other therapies: Redux. <i>Clinical Psychology Review, 33</i>(3), 395-405.</li>
                  <li id="Beck">Beck, J. S. (2011). <i>Cognitive behavior therapy: Basics and beyond.</i> Guilford press.</li>
                  <li id="American">American Psychiatric Association. (2013). <i>Diagnostic and statistical manual of mental disorders (DSM-5®).</i> American Psychiatric Pub.</li>
                </ol>
              </small>
            </p>
          </div>
        </div>
      </div>
    </article>
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/popoiopo/Complex_systems">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted hoverable">Copyright &copy; Julia Anten, Bas Ch&acirc;tel, <span class="normal">Bram Kraaijeveld</span><span class="hover">^^,</span> and Sara Neven</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='website/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='website/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='website/js/clean-blog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='website/js/slider.js') }}"></script>
    <script src="{{ url_for('static', filename='website/js/fut_exp_graph.js') }}"></script>

  </body>

</html>
