<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MD simulation</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='website/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='website/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='website/css/clean-blog.min.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='website/img/icon.png') }}">

    <!-- libraries -->
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider@0.2.1/build/d3-simple-slider.js"></script>

  </head>

  <body>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="/">MD simulation</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sim1">Article Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/fut_exp">Above and Beyond</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='website/img/depressie.jpg') }})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Major Depression</h1>
              <span class="subheading">A complex system simulation characterized by depression symptoms</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Major depression (MD) imposes a heavy burden on those suffering from it, as well as on the people around them. As appoximately 17% of the population gets affected by MD at least once in their life, it can be viewed as one of the biggest mental health problems of our time <a href="#Cramer">[1]</a>.</p>

          <p>Lot about the MD pathogenesis is still unknown, with the most important unanswered question being:</p>
          <p><b>"What makes some people more vulnerable to Major Depression than others?"</b></p>

          <p>To try and answer this question <a href="#Cramer"><cite>Cramer et al.</a> (2016)</cite> made a network model. In MD it is assumed that symptoms cause or amplify other symptoms. For example, as people suffer from insomnia, they will experience fatigue. This may lead to the development of concentration problems and loss of interest. These relations between symptoms have the potential to trigger an episode of MD. </p>

          <p>In the network below, the symptoms are represented by nodes. The edges represent the relation between these symptoms.</p>

          <svg width=700 height=400></svg>
          <span class="caption text-muted">Figure 1: Major Depression Graph. Symptoms are represented by the nodes. Edges represent the correlations between these symptoms, where thicker edges correspond with stronger correlations.</span>

          <p>The MD-network as shown above is referred to as a <i>complex dynamic system</i>. <i>Complex</i> because the relations between symptoms may lead to properties of the system that are impossible to predict from the individual systems. <b>The whole is more than the sum of the parts!</b> The system is <i>dynamic</i>, because this network of symptom-relations develops over time. The MD system has two <i>attractor</i> states: 'depressed' and 'non-depressed'. The full names of the symptoms can be seen in the graph below</p>


          <small><table class="table table-sm">
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Symptom</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Depressed mood (dep)</td>
              <th scope="row">8</th>
              <td>Hyposomnia (hso)</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Loss of interest (int)</td>
              <th scope="row">9</th>
              <td>Psychomotor agitation (agi)</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Weight loss (los)</td>
              <th scope="row">10</th>
              <td>Psychomotor retardation (ret)</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Weight gain (gai)</td>
              <th scope="row">11</th>
              <td>Fatigue (fat)</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>Decreased appetite (dap)</td>
              <th scope="row">12</th>
              <td>Feelings of worthlessness (wor)</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>Increased appetite (iap)</td>
              <th scope="row">13</th>
              <td>Concentration problems (con)</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>Insomnia (iso)</td>
              <th scope="row">14</th>
              <td>Thoughts of death (dea)</td>
            </tr>
          </table></small>

          <p>In this project, we aim to reconstruct the results from the paper of <a href="#Cramer"><cite>Cramer et al.</a> (2016)</cite>. In addition, we enable the deletion of certain symptoms from the network by increasing the symptom threshold. By doing so, provide a tool to answer the question which symptom or symptoms can best be targetted to assist the treatment of MD. </p>


          <p>
            <small>
              <ol>
                <li id="Cramer"> <a href="{{ url_for('static', filename='website/pdf/MD_complex_dynamic_system.pdf') }}" target="_blank">Cramer, A. O., van Borkulo, C. D., Giltay, E. J., van der Maas, H. L., Kendler, K. S., Scheffer, M., & Borsboom, D. (2016). Major depression as a complex dynamic system. <i>PloS one, 11</i>(12), e0167490.</a>
                </li>
              </ol>
            </small>
         </p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a target="_blank" href="https://github.com/popoiopo/Complex_systems">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted hoverable">Copyright &copy; <span class="normal">Julia Anten</span><span class="hover">>.<</span>, Bas Ch&acirc;tel, Bram Kraaijeveld and Sara Neven</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='website/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='website/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='website/js/clean-blog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='website/js/index_graph.js') }}"></script>

  </body>

</html>
