<!-- app/templates/admin/titles/titles.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}titles{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Titles</h1>
        {% if titles %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="25%"> Name </th>
                  <th width="25%"> Expert Count </th>
                  <th width="25%"> Edit </th>
                  <th width="25%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for title in titles %}
                <tr>
                  <td> {{ title.name }} </td>
                  <td>
                    {% if title.experts %}
                      {{ title.experts.count() }}
                    {% else %}
                      0
                    {% endif %}
                  </td>
                  <td>
                    <a href="{{ url_for('admin.edit_title', id=title.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_title', id=title.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No titles have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_title') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Title
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}