<!-- app/templates/admin/temp_imps/temp_imp.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_temp_imp %}
        Add Temporal Importance
    {% else %}
        Edit Temporal Importance
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_temp_imp %}
                <h1>Add Temporal Importance</h1>
            {% else %}
                <h1>Edit Temporal Importance</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}